<%= simple_form_for @visitor do |form| %>
  <% if visitor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(visitor.errors.count, "error") %> prohibited this visitor from being saved:</h2>

      <ul>
        <% visitor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="ml-4 mb-4">
    <div class="row">
      <div class="card" style="width: 18rem;">
        <% if @visitor.photo.attached? %>
          <%= image_tag(@visitor.photo, class: "card-img-top", id: "shot") %>
        <% else %>
          <img class="card-img-top" src="/../cat.jpg" id="shot">
        <% end %>
      </div>

      <div class="card ml-2" style="width: 18rem;" id="viewfinder">
        <video width="288" height="301" autoplay class=""></video>
      </div>
    </div>

    <div class="mt-2">
      <button type="button" class="btn btn-dark btn-sm" id="change_picture">Change Picture</button>
      <button type="button" class="btn btn-dark btn-sm" id="snap">Snap</button>
    </div>
  </div>

  <form>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Nome</label>
      <div class="col-sm-10">
        <%= form.input_field :description, class:"form-control" %>
      </div>
    </div>

  <div class="field">
    <%= form.label :cpf %>
    <%= form.input_field :cpf %>
  </div>

  <div class="field">
    <%= form.input :genre, collection: [['Feminino', 'Feminino'], ['Masculino', 'Masculino']], label_method: :second, value_method: :first %>
  </div>

  <div class="field">
    <%= form.label :telephone %>
    <%= form.input_field :telephone %>
  </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Crachá</label>
      <div class="col-sm-10">
        <%= form.collection_select(:badge_id, Badge.all, :id, :description, include_blank:false) %>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Setor</label>
      <div class="col-sm-10">
        <%= form.collection_select(:sector_id, Sector.all, :id, :description, include_blank:false) %>
      </div>
    </div>

    <div class="actions">
    <%= form.submit %>
  </div>

  <%= form.hidden_field :visitor_photo, value: @visitor.visitor_photo %>
  </form>
<% end %>
