<%= form_with(model: visitor) do |form| %>
  <% if visitor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(visitor.errors.count, "error") %> prohibited this visitor from being saved:</h2>

      <ul>
        <% visitor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="ml-4 mb-4">
    <div class="row">
      <div class="card" style="width: 18rem;">
        <% if @visitor.photo%>
          <%= image_tag(@visitor.photo, class: "card-img-top", id: "shot") %>
        <% else %>
          <img class="card-img-top" src="/cat.jpg" id="shot">
        <% end %>
      </div>

      <div class="card ml-2" style="width: 18rem;" id="viewfinder">
        <video width="288" height="301" autoplay class=""></video>
      </div>
    </div>

    <div class="mt-2">
      <button type="button" class="btn btn-dark btn-sm" id="change_picture">Change Picture</button>
      <button type="button" class="btn btn-dark btn-sm" id="snap">Snap</button>
    </div>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :cpf %>
    <%= form.text_field :cpf %>
  </div>

  <div class="field">
    <%= form.label :genre %>
    <%= form.text_field :genre %>
  </div>

  <div class="field">
    <%= form.label :telephone %>
    <%= form.text_field :telephone %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

  <%= form.hidden_field :visitor_photo, value: @visitor.visitor_photo %>
<% end %>
